* {
    padding: 0;
    margin: 0;
}

#bar {
    background-color: #191F58;
    height: 33px;
    width: 100vw;
}

#logo {

    width: 183px;
    height: 191px;
    left: 17px;
    top: 33px;

}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 60vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

nav {
    display: flex;
    align-items: center;
}

#espaceperso {
    display: flex;

}


.comptepanier {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

header {
    background-color: #C4C4C41F;
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

#photoaccueil {
    margin-top: 30px;
    width: 100vw;

}

#divphotoaccueil {
    position: relative;
}

#divphotoaccueil h1,
h2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
}

#divphotoaccueil h2 {
    top: 85%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    color: #252853;
}